.outer{
  height: 100%;
  background: url("../../assets/bg.jpg") no-repeat;
  background-size: 100% 100%;
  font-size: 20px;
  padding-top: 200px;
}
.loginForm{
  background-color: #ffffff;
  border-radius: 5px;
  padding: 30px 20px;
}
