html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.bg-white{
  background-color: #ffffff!important;
}

.w-100{
  width: 100%;
}
.h-100{
  height: 100%;
}

.f-left{
  float: left;
}
.f-right{
  float: right;
}
